{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="row header-row">
        <div class="col s12 m6">
            <h2 class="header category-header"><b>Product</b><br><em>Review</em></h2>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6 xl8">
                <h5><b>Add a Product Review for {{ product.name }}</b></h5>
                <p>Please fill out the form to post your review</p>
                <div class="divider"></div>
                <form action="{% url 'add_review' product.id %}" id="add-review" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="submit-button right">
                        <a href="{% url 'home' %}" class="btn cancel">
                            <span>Cancel</span>
                        </a>
                        <button id="submit-button" class="btn learn-more">
                            <span>Add Review</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}