{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="row header-row">
        <div class="col s12 m6">
            <h2 class="header category-header"><b>Shopping</b><br><em>Bag</em></h2>
            {% if bag_items %}
                <h6><b>{{ bag_items|length }} items</b></h6>
            {% endif %}
        </div>
        <div class="col s12 m6 l6 xl4 right">
            {% if bag_items %}
                <ul class="collapsible bag-collapsible">
                    <li>
                        <div class="collapsible-header"><b>Bag Summary:</b></div>
                        <div class="collapsible-body">
                            <h6>Bag Total: €{{ total|floatformat:2 }}</h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <div class="divider"></div>
                            <h5>Grand Total: €{{ grand_total|floatformat:2 }}</h5>
                            {% if free_delivery_delta > 0 %}
                                <p> You could get free delivery by spending just 
                                    <strong>€{{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <a href="{% url 'checkout' %}" class="btn checkout"><i class="fas fa-lock"></i><b> Secure Checkout</b></a>              
            {% endif %}
        </div>
    </div>
    <hr>
    {% if bag_items %}
        <div class="container bag-container">
            <div class="row">
                {% for item in bag_items %}
                    <div class="col s12 hide-on-med-and-up">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="responsive-img">
                        {% else %}
                            <img src="{{ MEDIA_URL }}noimg.png" alt="{{ item.product.name }}" class="responsive-img">
                        {% endif %}
                    </div>
                    <div class="col s12 hide-on-med-and-up">
                        <h5>{{ item.product.name }}</h5>
                        <p>{{ item.product.sku|upper }}</p>
                        <p> €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        <h6><b>Update Quantity:</b></h6>
                        <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                            {% csrf_token %}
                            <div class="row quantity-row">
                                <div class="col quantity-col">
                                    <div class="input-field input-field-{{ item.item_id }} inline">
                                        <button class="decrement-qty btn-flat btn-small body-colour 
                                            decrement-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input class="qty_input id_qty_{{ item.item_id }} center-align" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}">
                                        <button class="increment-qty btn-flat btn-small body-colour
                                            increment-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a class="update btn">Update Quantity</a>
                        <a class="btn delete remove-item remove_{{ item.item_id }}">Remove</a>
                        <div class="divider"></div>
                    </div>
                    <div class="col m7 push-m5 l7 push-l5 xl6 push-xl6 hide-on-small-only">
                        <h5>{{ item.product.name }}</h5>
                        <p>{{ item.product.sku|upper }}</p>
                        <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                            {% csrf_token %}
                            <p>€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            <!--Adjust quantity selection-->
                            <h6><b>Update Quantity:</b></h6>
                            <div class="row quantity-row">
                                <div class="col quantity-col">
                                    <div class="input-field input-field-{{ item.item_id }} inline">
                                        <button class="decrement-qty btn-flat btn-small body-colour 
                                            decrement-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input class="qty_input id_qty_{{ item.item_id }} center-align" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}" readonly>
                                        <button class="increment-qty btn-flat btn-small body-colour
                                            increment-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a class="update btn-small btn">Update Quantity</a>
                        <a class="btn btn-small delete remove-item remove_{{ item.item_id }}">Remove</a>
                    </div>
                    <div class="col m5 pull-m7 l5 pull-l7 xl6 pull-xl6 hide-on-small-only">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="responsive-img item-image">
                        {% else %}
                            <img src="{{ MEDIA_URL }}noimg.png" alt="{{ item.product.name }}" class="responsive-img item-image">
                        {% endif %}
                    </div>
                    <div class="col m12 l12 xl">
                        <div class="divider"></div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <h4 class="header category-header"><b>Bag</b><br><em>Summary: <small>{{ bag_items|length }} items</small></em></h4>
                    <div class="divider"></div>
                    <div class="right">
                        <h6>Bag Total: €{{ total|floatformat:2 }}</h6>
                        <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                        <h5>Grand Total: €{{ grand_total|floatformat:2 }}</h5>
                        {% if free_delivery_delta > 0 %}
                            <p> You could get free delivery by spending just 
                                <strong>€{{ free_delivery_delta }}</strong> more!
                            </p>
                        {% endif %}
                        <a href="{% url 'checkout' %}" class="btn checkout"><i class="fas fa-lock"></i><b> Secure Checkout</b></a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col s12">
                <p class="shopping">Your bag is empty. Let's change that!</p>
                <a href="{% url 'products' %}" class="shop-now btn">Shop Now</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include 'bag/includes/quantity_input_script.html' %}
    <script type="text/javascript">
        // Update quantity on click
        $('.update').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('class').split('remove_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}