{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="row header-row">
        <div class="col s12 m6">
            <h2 class="header category-header"><b>Shopping</b><br><em>Bag</em></h2>
            {% if bag_items %}
                <h6><b>{{ bag_items|length }} items</b></h6>
            {% endif %}
        </div>
        <div class="col s12 m6 l6 xl4 right">
            {% if bag_items %}
                <ul class="collapsible bag-collapsible">
                    <li>
                        <div class="collapsible-header"><b>Bag Summary:</b></div>
                        <div class="collapsible-body">
                            <h6>Bag Total: €{{ total|floatformat:2 }}</h6>
                            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                            <div class="divider"></div>
                            <h5>Grand Total: €{{ grand_total|floatformat:2 }}</h5>
                            {% if free_delivery_delta > 0 %}
                                <p> You could get free delivery by spending just 
                                    <strong>{{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <a href="#" class="btn checkout"><i class="fas fa-lock"></i><b> Secure Checkout</b></a>              
            {% endif %}
        </div>
    </div>
    <hr>
    {% if bag_items %}
        <div class="container bag-container">
            <div class="row">
                {% for item in bag_items %}
                    <div class="col s12 hide-on-med-and-up">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="responsive-img">
                        {% else %}
                            <img src="{{ MEDIA_URL }}noimg.png" alt="{{ item.product.name }}" class="responsive-img item-image">
                        {% endif %}
                    </div>
                    <div class="col s12 hide-on-med-and-up">
                        <h5>{{ item.product.name }}</h5>
                        <p>{{ item.product.sku|upper }}</p>
                        <p>€{{ item.product.price }}</p>
                        <form class="form" action="#" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="input-field input-field-{{ item.item_id }} inline">
                                        <button class="decrement-qty btn-flat btn-small body-colour 
                                            decrement-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input class="qty_input id_qty_{{ item.item_id }} center-align" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}">
                                        <button class="increment-qty btn-flat btn-small body-colour
                                            increment-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                        <a class="update-link hidden"></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a class="btn delete remove-item remove_{{ item.item_id }}"><i class="far fa-trash-alt"> Remove</i></a>
                        <div class="divider"></div>
                    </div>
                    <div class="col m7 push-m5 l7 push-l5 xl6 push-xl6 hide-on-small-only">
                        <h5>{{ item.product.name }}</h5>
                        <p>{{ item.product.sku|upper }}</p>
                        <p>€{{ item.product.price }}</p>
                        <form class="form" action="#" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    <div class="input-field input-field-{{ item.item_id }} inline">
                                        <button class="decrement-qty btn-flat btn-small body-colour 
                                            decrement-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input class="qty_input id_qty_{{ item.item_id }} center-align" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}">
                                        <button class="increment-qty btn-flat btn-small body-colour
                                            increment-qty_{{ item.item_id }}" data-item_id="{{ item.item_id }}">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <a class="btn delete remove-item remove_{{ item.item_id }}"><i class="far fa-trash-alt"></i> Remove</a>
                    </div>
                    <div class="col m5 pull-m7 l5 pull-l7 xl6 pull-xl6 hide-on-small-only">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="responsive-img item-image">
                        {% else %}
                            <img src="{{ MEDIA_URL }}noimg.png" alt="{{ item.product.name }}" class="responsive-img item-image">
                        {% endif %}
                    </div>
                    <div class="col m12 l12 xl">
                        <div class="divider"></div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col s12 m12 l12 xl12">
                    <h4 class="header category-header"><b>Bag</b><br><em>Summary:</em></h4>
                    <div class="divider"></div>
                    <div class="right">
                        <h6>Bag Total: €{{ total|floatformat:2 }}</h6>
                        <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                        <h5>Grand Total: €{{ grand_total|floatformat:2 }}</h5>
                        {% if free_delivery_delta > 0 %}
                            <p> You could get free delivery by spending just 
                                <strong>{{ free_delivery_delta }}</strong> more!
                            </p>
                        {% endif %}
                        <a href="#" class="btn checkout"><i class="fas fa-lock"></i><b> Secure Checkout</b></a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col s12">
                <p class="shopping">Your bag is empty. Let's change that!</p>
                <a href="{% url 'products' %}" class="shop-now btn">Shop Now</a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
    // Update quantity on click
    $('.increment-qty', '.decrement-qty').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('class').split('remove_')[1];
        var url = `/bag/remove/${itemId}`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
            location.reload();
        });
    })
</script>
{% endblock %}