{% extends "base.html" %}
{% load static %}


{% block content %}          
    <div class="parallax-container">
        <div class="parallax"><img src="{{ MEDIA_URL }}programparallax1.jpg" class="responsive-img"></div>
        <div id="overlay">
            <div class="text" class="flow-text center-align">Take the first step in your new journey
                <br>
                <a href="#" class="btn-small shop-now"><b>Shop Programs Now</b></a>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="header center-align">Our Programs</h2>
        <p class="grey-text text-darken-3 lighten-3 center-align">
            Here at Gym Rat Fitness we offer a variety of programs to suit you goals. It's important 
            at any stage of your health and fitness journey, that you select a program that works for you.
            Checkout the headlines for each of our programs below.
        </p>
        <div class="center-align">
            <div class="col s12 m12 l4 xl4">
                <div class="card program-card-img medium hoverable">
                    <div class="card-image">
                        <img src="{{ MEDIA_URL }}mobility-program.jpg" class="responsive-img">
                    </div>
                    <div id="overlay">
                        <div class="text" class="flow-text center-align">Mobility
                            <br>
                            <a href="#" class="btn-small learn-more black-text">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="card program-card-img medium hoverable">
                    <div class="card-image">
                        <img src="{{ MEDIA_URL }}strength-program.jpg" class="responsive-img">
                    </div>
                    <div id="overlay">
                        <div class="text" class="flow-text center-align">Strength
                            <br>
                            <a href="#" class="btn-small learn-more black-text">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l4 xl4">
                <div class="card program-card-img medium hoverable">
                    <div class="card-image">
                        <img src="{{ MEDIA_URL }}hiit-program.jpg" class="responsive-img">
                    </div>
                    <div id="overlay">
                        <div class="text" class="flow-text center-align">HIIT
                            <br>
                            <a href="#" class="btn-small learn-more black-text">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="parallax-container">
            <div class="parallax"><img src="{{ MEDIA_URL }}nutrition-parallax2.jpg" class="responsive-img"></div>
            <div id="overlay">
                <div class="text" class="flow-text center-align">Everything you need in one app
                    <br>
                    <a href="#" class="btn-small shop-now"><b>Shop Nutrition Now</b></a>
                </div>
            </div>
        </div>
        <div class="section white center-align">
            <div class="row container center-align">
                <h2 class="header">Choosing the right program for <em>you</em></h2>
                <p class="grey-text text-darken-3 lighten-3">
                    Here at Gym Rat Fitness we offer a variety of programs to suit you goals. It's important 
                    at any stage of your health and fitness journey, that you select a program that works for you.
                    Checkout the headlines for each of our programs below.
                </p>
                <div class="row center-align">
                    <div class="col s12 m12 l4 xl4">
                        <div class="card hoverable program-cards">
                            <div class="card-content black-text">
                                <h5 class="card-title"><b>Strength</b></h5>
                                <hr>
                                <h6>8 Weeks</h6>
                                <hr>
                                <div>
                                    <ul>
                                        <h6><b>Training Styles:</b></h6>
                                        <li>Weighted</li>
                                        <li>Resistance</li>
                                        <li>HIIT</li>
                                        <li>LISS</li>
                                        <li>Circut</li>
                                    </ul>
                                    <hr>
                                </div>
                                <div>
                                    <ul>
                                        <h6><b>Workout Durations:</b></h6>
                                        <li>45-70 mins</li>
                                    </ul>
                                    <hr>
                                </div>
                                <div>
                                    <ul>
                                        <h6><b>Program Goals:</b></h6>
                                        <li>Improve overall strength</li>
                                        <li>Encourage lean muscle growth</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="#" class="btn-small learn-more black-text">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l4 xl4">
                        <div class="card hoverable program-cards">
                            <div class="card-content black-text">
                                <h5 class="card-title"><b>Strength</b></h5>
                                <hr>
                                <h6>8 Weeks</h6>
                                <hr>
                                <div>
                                    <ul>
                                        <h6><b>Training Styles:</b></h6>
                                        <li>Weighted</li>
                                        <li>Resistance</li>
                                        <li>HIIT</li>
                                        <li>LISS</li>
                                        <li>Circut</li>
                                    </ul>
                                    <hr>
                                </div>
                                <div>
                                    <ul>
                                        <h6><b>Workout Durations:</b></h6>
                                        <li>45-70 mins</li>
                                    </ul>
                                    <hr>
                                </div>
                                <div>
                                    <ul>
                                        <h6><b>Program Goals:</b></h6>
                                        <li>Improve overall strength</li>
                                        <li>Encourage lean muscle growth</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="#" class="btn-small learn-more black-text">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l4 xl4">
                        <div class="card hoverable program-cards">
                            <div class="card-content black-text">
                                <h5 class="card-title"><b>Strength</b></h5>
                                <hr>
                                <h6>8 Weeks</h6>
                                <hr>
                                <div>
                                    <ul>
                                        <h6><b>Training Styles:</b></h6>
                                        <li>Weighted</li>
                                        <li>Resistance</li>
                                        <li>HIIT</li>
                                        <li>LISS</li>
                                        <li>Circut</li>
                                    </ul>
                                    <hr>
                                </div>
                                <div>
                                    <ul>
                                        <h6><b>Workout Durations:</b></h6>
                                        <li>45-70 mins</li>
                                    </ul>
                                </div>
                                <hr>
                                <div>
                                    <ul>
                                        <h6><b>Program Goals:</b></h6>
                                        <li>Improve overall strength</li>
                                        <li>Encourage lean muscle growth</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-action">
                                <a href="#" class="btn-small learn-more black-text">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section payments">
        <div class="row container center-align">
            <h2 class="header"> Our App on <em>Your Terms</em></h2>
            <p class="grey-text text-darken-3 lighten-3">Choose a payment scheme that works for you. Here at Gym 
                Rat Fitness we offer a variety of payment models, so you don't have to break the bank to achieve
                your goals! 
            </p>
            <div class="row center-align">
                <div class="col s12 m12 l4 xl3 offset-xl3">
                    <div class="card hoverable payment-cards">
                        <div class="card-content black-text">
                            <h5 class="card-title"><b>Once-Off Payment </b></h5>
                            <hr>
                            <div>
                                <p>Make a once off payment for the program or nutrition plan of your choice. You will have access 
                                    to that program or nutrition plan for its specified lenght. For example, if you choose to purchase
                                    Strength through a once off payment, you will have access to the program for 8 weeks. 
                                </p>
                                <hr>
                            </div>
                            <div>
                                <ul>
                                    <h6><b>Program Price - Once-off payment:</b></h6>
                                    <li>$79.99</li>
                                    <h6><b>Nutrition Plan Price - Once-off payment:</b></h6>
                                    <li>$49.99</li>
                                </ul>
                                <hr>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="#" class="btn-small learn-more black-text">Choose Program</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l4 xl3">
                    <div class="card hoverable payment-cards">
                        <div class="card-content black-text">
                            <h5 class="card-title"><b>Subscription Access</b></h5>
                            <hr>
                            <div>
                                <p>Select the subscription access that you want for the program of your choice. 
                                    If you choose to pay for your program on a subscription basis, you can choose 
                                    to have access to the program for either <b>6 months or one year</b>
                                </p>
                                <hr>
                            </div>
                            <div>
                                <ul>
                                    <h6><b>Program Price - Subscription Access:</b></h6>
                                    <li><b>6 Months:</b> $150.99</li>
                                    <li><b>1 Year:</b> $199.99</li>
                                    <h6><b>Nutrition Plan Price - Subscription Access:</b></h6>
                                    <li><b>6 Months:</b> $89.99</li>
                                    <li><b>1 Year:</b> $119.99</li>
                                </ul>
                                <hr>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="#" class="btn-small learn-more black-text">Choose Program</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <!--Merch page-->
    <section>
        <div class="parallax-container">
            <div class="parallax"><img src="{{ MEDIA_URL }}merch-img-min.jpg" class="responsive-img"></div>
            <div id="overlay">
                <div class="text" class="flow-text center-align">Short on equipment?
                    <br>
                    <a href="#" class="btn-small shop-now black-text"><b>Shop Merch Now</b></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}