{% extends "base.html" %}
{% load static %}


{% block content %}          
    <div class="parallax-container">
        <div class="parallax"><img src="{{ MEDIA_URL }}programparallax1.jpg" class="responsive-img" alt="Site Image"></div>
        <div class="overlay">
            <div class="text flow-text center-align">Take the first step in your new journey
                <br>
                <a href="{% url 'products' %}?category=workout_programs" class="btn-small shop-now"><b>Shop Programs Now</b></a>
            </div>
        </div>
    </div>
    <section class="p-sect">
        <div class="row">
            <div class="col s12">
                <h2 class="header center-align">Our Programs</h2>
                <p class="grey-text text-darken-3 lighten-3 center-align">
                    Here at Gym Rat Fitness we offer a variety of programs to suit you goals. It's important 
                    at any stage of your health and fitness journey, that you select a program that works for you.
                    Checkout the headlines for each of our programs below.
                </p>
                <div class="center-align">
                    {% for product in products %}
                        {% if product.category.name == 'workout_programs' %}
                            <div class="col s12 m12 l4 xl4">
                                <div class="card program-card-img medium hoverable">
                                    <div class="card-image">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" class="responsive-img" alt="{{ product.name }}">
                                        {% else %}
                                            <img class="responsive-img" src="{{ MEDIA_URL }}noimg.png" alt="{{ product.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="overlay">
                                        <div class="text flow-text center-align">{{ product.name }}
                                            <br>
                                            <a href="{% url 'product_detail' product.id %}" class="btn-small learn-more black-text">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <div class="section programs">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 xl6">
                    <h2 class="header left-align">Choosing the right program or plan for <em>you</em></h2>
                    <p class="grey-text text-darken-3 lighten-3 left-align">
                        Here at Gym Rat Fitness we offer a variety of workout programs & nutrition plans to suit you goals. It's important 
                        at any stage of your health and fitness journey, that you choose a program or plan that works for you.
                    </p>
                </div>
                <div class="col s12 m12 l12 xl6">
                    <img src="{{ MEDIA_URL }}GRF-app.png" class="app-img" alt="Site Image">
                    <img src="{{ MEDIA_URL }}GRF-app2.png" class="app-img" alt="Site Image">
                </div>
            </div>
        </div>
    </div>
    <section class="parallax">
        <div class="parallax-container">
            <div class="parallax"><img src="{{ MEDIA_URL }}nutrition-parallax2.jpg" class="responsive-img" alt="Site Image"></div>
            <div class="overlay">
                <div class="text flow-text center-align">Everything you need in one app
                    <br>
                    <a href="{% url 'products' %}?category=nutrition_plans" class="btn-small shop-now"><b>Shop Nutrition Now</b></a>
                </div>
            </div>
        </div>
    </section>
    <div class="section payments">
        <div class="row container center-align">
            <h2 class="header"> Our App on <em>Your Terms</em></h2>
            <p class="grey-text text-darken-3 lighten-3"> Here at Gym Rat Fitness we offer affordable workouts for everyone, 
                so you don't have to break the bank to achieve your goals! 
            </p>
            <div class="row center-align">
                <div class="col s12 m6 offset-m3 l6 offset-l3 xl6 offset-xl3">
                    <div class="card hoverable payment-cards">
                        <div class="card-content black-text">
                            <h5 class="card-title"><b>Once-Off Payment </b></h5>
                            <hr>
                            <div>
                                <p>Make a once off payment for the program or nutrition plan of your choice. You will have access 
                                    to that program or nutrition plan for its specified lenght. For example, if you choose to purchase
                                    Strength, you will have access to the program for 8 weeks. 
                                </p>
                                <hr>
                            </div>
                            <div>
                                <ul>
                                    <li><p><b>Program Price - Once-off payment:</b></p></li>
                                    <li>€79.99</li>
                                    <li><p><b>Nutrition Plan Price - Once-off payment:</b></p></li>
                                    <li>€59.99</li>
                                </ul>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <!--Merch page-->
    <section class="parallax">
        <div class="parallax-container">
            <div class="parallax"><img src="{{ MEDIA_URL }}merch-img-min.jpg" class="responsive-img" alt="Site Image"></div>
            <div class="overlay">
                <div class="text flow-text center-align">Short on equipment?
                    <br>
                    <a href="{% url 'products' %}?category=merchandise" class="btn-small shop-now black-text"><b>Shop Merch Now</b></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}