{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="row header-row">
        <div class="col s12 m6">
            <h2 class="header category-header"><b>My</b><br><em>Profile</em></h2></h2>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col s12 m4 l4 offset l7 xl3">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><h5 class="header"><b>Delivery</b><em>Info:</em></h5></div>
                    <div class="collapsible-body">
                        <form id="profile-update-form" action="{% url 'profile' %}" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn-small learn-more left-align">Update Information</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12 m4 l4 offset l7 xl4">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><h5 class="header"><b>Order</b><em>History:</em></h5></div>
                    <div class="collapsible-body">
                        <table class="responsive-table">
                            <thead>
                              <tr>
                                  <th>Order Number</th>
                                  <th>Date</th>
                                  <th>Items</th>
                                  <th>Order Total</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'order_history' order.order_number %}"
                                                title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:6 }}
                                            </a>
                                        </td>
                                        <td>{{ order.date }}</td>
                                        <td>
                                            <ul>
                                                {% for item in order.lineitems.all %}
                                                    <li class="small">
                                                        { item.product.name } x{{ item.quantity }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>${{ order.grand_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript">
    let countrySelected = $('.select-wrapper input.select-dropdown').val();
    if(!countrySelected) {
        $('.select-wrapper input.select-dropdown').css('color', '#b8b8b8');
    };
    $('.select-wrapper input.select-dropdown').change(function() {
        countrySelected = $(this).val();
        if(!countrySelected) {
            $(this).css('color', '#b8b8b8');
        } else {
            $(this).css('color', '#000');
        }
    });
</script>
{% endblock %}
