/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*----------------------------Delivery info form*/
#profile-update-form .form-control {
    color: #141414;
}

#profile-update-form input::-webkit-input-placeholder {
    color: #b8b8b8;
}

#profile-update-form input::-moz-placeholder {
    color: #b8b8b8;
}

#profile-update-form input:-ms-input-placeholder {
    color: #b8b8b8;
}

#profile-update-form input::-ms-input-placeholder {
    color: #b8b8b8;
}

#profile-update-form input::placeholder {
    color: #b8b8b8;
}

.select-wrapper .caret {
    fill: #b8b8b8;
}

.select-wrapper input.select-dropdown {
    color: #b8b8b8;
}

.dropdown-content li>span {
    background-color: #F7F8F2;
    color: #141414;
}

.dropdown-content li>span:hover {
    background-color: #97A1D8;
}

.select-dropdown.dropdown-content li.selected:not(:first-child) {
    background-color: #141414;
}

/*---------------------- Profile */
.profile-card {
    padding-top: 5px;
    background-color: #F7F8F2;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    padding: 0px !important;
}

.profo-img {
    width: 30px;
    height: 30px;
}

.profile-image {
    width: 30px;
    height: 30px;
}

.grey-bg {
    background-color: #B8B8B8;
    padding-bottom: 5px;
}

.green-txt {
    color: #AED914;
}

.green-txt:hover {
    color: #668104;
}

.update-profo {
    background-color: #AED914;
    color: #141414;
    margin-top: 5px;
}

.update-profo:hover {
    background-color: #141414;
    color: #AED914;
}

p.post-content, a {
    color: #141414;
}

.review {
    background-color: #F7F8F2;
}

.community {
    background-color: #141414;
    color: #F7F8F2;
    margin-top: 5px;
}

.community:hover {
    background-color: #F7F8F2;
    color: #141414;
}

/*---------------------- Edit profile form  */
textarea#id_about_me.textarea {
    height: auto;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/*----------------------------Media Query */
@media only screen and (max-width: 320px) {
    .community {
        float: left !important;
        margin-top: 10px;
    }
}