{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

{% block content %}
    <!--Add post card-->
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h3 class="header"><b>Community </b><em>Feed</em></h3>
            <div class="divider"></div>
            <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
                <div class="card horizontal col s12">
                    <div class="card-stacked">
                        <div class="card-content">
                            {% csrf_token %}
                            {{ form|crispy }}
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn right flow-text post">Post</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Posts-->
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            {% for post in posts %}
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="card-title grey-text text-darken-4">
                                {% if user.profile.image %}
                                    <img class="profile-image" src="{{ post.user_profile.userprofile.image.url }}" 
                                        alt="Profile Image">
                                {% else %}
                                    <img class="profile-image" src="{{ MEDIA_URL }}default_userprofile_pic.png"
                                        alt="Default Profile Image">
                                {% endif %}
                                <a href="">{{ post.user_profile }}</a>
                            </p>
                            <div class="divider"></div>
                            <br>
                            <p class="post-content">
                                <a href="{% url 'post_detail' post.id %}">
                                    {{ post.description }}
                                </a>
                            </p>
                            <br>
                            {% if post.image %}
                                <div class="card-image">
                                    <a href="{% url 'post_detail' post.id %}">
                                        <img src="{{ post.image.url }}">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-action">
                            <div class="buttons right">
                                <a href="#" class="btn like">Like</a>
                                <a href="#" class="btn comment">Comment</a>
                                {% if request.user == post.user_name %}
                                    <a href="{% url 'edit_post' post.id %}" class="btn edit">Edit</a>
                                    <a href="#" class="btn delete">Delete</a>
                                {% endif %}
                            </div>
                            <p>{{ post.posted_on }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!--Pagination-->
    <!--Sourced from Django Project Docs: https://docs.djangoproject.com/en/4.0/topics/pagination/-->
    <div class="pagination center-align">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
