{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

{% block content %}
    <!--User posts-->
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <a href="{% url 'my_community' %}" class="btn my-community"><i class="fas fa-chevron-left"></i>My Community</a>
            {% for post in posts %}
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="card-title grey-text text-darken-4">
                                {% if post.user_profile.image %}
                                    <img class="profile-image" src="{{ post.user_profile.image.url }}" 
                                        alt="Profile Image">
                                {% else %}
                                    <img class="profile-image" src="{{ MEDIA_URL }}default_userprofile_pic.png"
                                        alt="Default Profile Image">
                                {% endif %}
                                <a href="">{{ post.user_profile }}</a>
                            </p>
                            <div class="divider"></div>
                            <br>
                            <p class="post-content">
                                <a href="{% url 'post_detail' post.id %}">
                                    {{ post.description }}
                                </a>
                            </p>
                            <br>
                            {% if post.image %}
                                <div class="card-image">
                                    <a href="{% url 'post_detail' post.id %}">
                                        <img src="{{ post.image.url }}">
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-action">
                            <div class="buttons right">
                                {% if post.user_profile.user == request.user %}
                                    <a href="{% url 'edit_post' post.id %}" class="btn edit">Edit</a>
                                    <a class="delete btn modal-trigger" data-target="#modal-delete{{post.id}}"
                                        href="#modal-delete{{post.id}}">Delete
                                    </a>
                                    {% include 'community/includes/delete-post-modal.html' %}
                                {% endif %}
                                <a href="{% url 'post_detail' post.id %}" class="btn comment">Comment</a>
                            </div>
                            <p>{{ post.posted_on }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!--Pagination-->
    <!--Sourced from Django Project Docs: https://docs.djangoproject.com/en/4.0/topics/pagination/-->
    <div class="pagination center-align">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}