/*-------------------------- General */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');

html {
    height: 100%;
}

body {
    background-color: #F7F8F2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    color: #141414;
}

main {
    flex: 1 0 auto;
}

hr {
    border-color: #141414;
}

/*-------------------------- Buttons */
.shop-now {
    color: #141414;
    background-color: #04D9D9;
    
}

.shop-now:hover {
    background-color: #141414;
    color: #04D9D9 !important;
}

.learn-more {
    background-color: #AED914;
}

.learn-more:hover {
    background-color: #141414;
    color: #AED914 !important;
}

.add-to-bag {
    background-color: #141414;
}

.add-to-bag:hover {
    background-color: #F7F8F2;
    color: #141414 !important;
}

#search {
    background-color: #141414;
}

.delete {
    background-color: #960535;
}

.delete:hover {
    background-color: #F7F8F2;
    color: #960535 !important;
}

.edit {
    background-color: #6200ea;
}

.edit:hover {
    background-color: #F7F8F2;
    color: #6200ea !important;
}

/*-------------------------- Navigation Bar */
.nav-dark {
    background-color: #141414;
}

.brand-logo{
    font-family: "Abril Fatface", sans-serif;
}

nav ul li a:hover {
    background-color: #F7F8F2;
    color: #141414;
}

nav ul li:hover {
    background-color: #F7F8F2;
}

i.fas.fa-shopping-bag:hover {
    color: #141414;
}
/*-------------------------- Nav Dropdowns */
.dropdown-content li a {
    background-color: #141414;
    color: #F7F8F2;
}

/*-------------------------- Sidenav & collaspibles */
.sidenav {
    background-color: #141414;
    color: #F7F8F2;
}

.sidenav .collapsible-header {
    padding: 0 32px;
}

.collapsible-header i {
    width: 1.5rem;
    font-size: 0.9rem;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 42px;
}

.sidenav 
.collapsible-header 
i.fas.fa-shopping-bag {
    font-size: x-large;
}

/*-------------------------- Delivery Banner */
#delivery-banner {
    background-color: #97A1D8;
    margin-bottom: 0;
}

h5 #delivery-banner {
    margin: 0.5rem 0 0.656rem 0;
    letter-spacing: 1rem;
}

/*-------------------------- Search Functionality */
#search:hover {
    background-color: #F7F8F2;
}

.btn-floating i:hover {
    color: #141414;
}
.search-panel {
    display: none;
    margin-bottom: 0;
}

/*-------------------------- Section Colours */
.payments {
    background-color: #97A1D8;
}

/*-------------------------- Overlay & text */
#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.603); 
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/*-------------------------- Cards */
.program-cards {
    background-color: #B8B8B8;
}

.payment-cards {
    background-color: #F7F8F2;
}

.products .card-content {
    padding: 25px 25px 20px 25px;
}
/*-------------------------- Footer */
.footer-dark {
    background-color: #141414;
}

.footer-brand a {
    color: #F7F8F2;
}

.footer-brand a:hover {
    color: #AED914;
}

footer ul li {
    display: inline;
    margin: 0 2px 0 2px;
}

.footer-links li a i {
    color: #fffff3;
}

.footer-links li a i:hover {
    color: #AED914;
}
/*-------------------------- Media Queries */
@media only screen and (max-width: 375px) {
    #text {
        font-size: 24px;
    }
}

@media only screen and (max-width: 600px) {
    .footer-row {
        text-align: center;
    }

    .right-align {
        text-align: center;
    }
}