/*-------------------------- General */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap');

html {
    height: 100%;
}

body {
    background-color: #F7F8F2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    color: #141414;
}

main {
    flex: 1 0 auto;
}

hr {
    border-color: #141414;
}

.divider {
    background-color: #B8B8B8;
    margin-top: 1rem;
}
/*-------------------------- Buttons & links */
.shop-now {
    color: #141414;
    background-color: #04D9D9;
    
}

.shop-now:hover {
    background-color: #141414;
    color: #04D9D9 !important;
}

.learn-more {
    background-color: #AED914;
}

.learn-more:hover {
    background-color: #141414;
    color: #AED914 !important;
}

.add-to-bag {
    background-color: #141414;
}

.add-to-bag:hover {
    background-color: #F7F8F2;
    color: #141414 !important;
    font-weight: bold;
}

#search {
    background-color: #141414;
}

#search:hover {
    background-color: #F7F8F2;
    color: #141414;
}

.delete {
    background-color: #960535;
}

.delete:hover {
    background-color: #F7F8F2;
    color: #960535 !important;
}

.edit {
    background-color: #97A1D8;
}

.edit:hover {
    background-color: #F7F8F2;
    color: #97A1D8 !important;
}

.keep-shopping {
    background-color: #B8B8B8;
    color: #141414;
}

.keep-shopping:hover {
    background-color: #141414;
    color: #F7F8F2;
    font-weight: bold;
}

.checkout {
    background-color: #97A1D8;
    color: #141414;
}

.checkout:hover {
    background-color: #141414;
    color: #97A1D8;
}

a.update {
    font-size: bold;
    background-color: #97A1D8;
    color: #F7F8F2;
    cursor: pointer;
    display: inline-block;
}

a.update:hover {
    background-color: #F7F8F2;
    color: #97A1D8;
    cursor: pointer;
}

/*-------------------------- Navigation Bar */
.nav-dark {
    background-color: #141414;
}

.brand-logo{
    font-family: "Abril Fatface", sans-serif;
}

nav ul li a:hover {
    background-color: #F7F8F2;
    color: #141414;
}

nav ul li:hover {
    background-color: #F7F8F2;
}

i.fas.fa-shopping-bag:hover {
    color: #141414;
}

.i.fas.fa-chevron-left {
    padding-right: 2rem;
}

input.add-to-bag {
    font-family: "Raleway", sans-serif;
}
/*-------------------------- Nav Dropdowns */
.dropdown-content li a {
    background-color: #141414;
    color: #F7F8F2;
}

/*-------------------------- Sidenav & collaspibles */
.sidenav {
    background-color: #141414;
    color: #F7F8F2;
}

.sidenav .collapsible-header {
    padding: 0 32px;
}

.collapsible-header i {
    width: 1.5rem;
    font-size: 0.9rem;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 42px;
}

.sidenav 
.collapsible-header 
i.fas.fa-shopping-bag {
    font-size: x-large;
}

/*-------------------------- Delivery Banner */
#delivery-banner {
    background-color: #97A1D8;
    margin-bottom: 0;
}

h5 #delivery-banner {
    margin: 0.5rem 0 0.656rem 0;
    letter-spacing: 1rem;
}

/*-------------------------- Search Functionality */
#search:hover {
    background-color: #F7F8F2;
}

.btn-floating i:hover {
    color: #141414;
}
.search-panel {
    display: none;
    margin-bottom: 0;
}

/*-------------------------- Section Colours */
.payments {
    background-color: #97A1D8;
}

.body-colour {
    background-color: #F7F8F2;
}
/*-------------------------- Overlay & text */
#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.603); 
    z-index: 2;
    cursor: pointer;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

/*-------------------------- Cards */
.program-cards {
    background-color: #B8B8B8;
}

.card.medium .card-image {
    max-height: 100%;
}

.payment-cards {
    background-color: #F7F8F2;
}

.products .card-content {
    padding: 20px 25px 25px 25px;
}

/*-------------------------- Category */
p.category-tag i {
    color: #AED914;
}

p.category-tag a {
    color: #AED914;
}

div.row.header-row {
    margin-bottom: 0;
}

h2.header.category-header {
    margin: 2.3733333333rem 0 1rem 0;
}
/*-------------------------- Products */
p.card-title a {
    color: #141414;
}
.product-image {
    margin-top: 2.3733333333rem;
}

li div.collapsible-header {
    background-color: #F7F8F2;
    color: #141414;
}

li div.collapsible-body {
    background-color: #F7F8F2;
    color: #141414;
}

ul.collaspible li {
    list-style: none;
}

h6.grey-text.text-darken-3.lighten-3.left-align.product-count {
    padding-top: 25px;
}

/*-------------------------- Filter select box*/
.select-wrapper .caret {
    fill: #141414;
}

.select-wrapper input.select-dropdown {
    color: #3a3939;
}

.dropdown-content li>span {
    background-color: #F7F8F2;
    color: #141414;
}

.dropdown-content li>span:hover {
    background-color: #97A1D8;
}
.select-dropdown.dropdown-content li.selected {
    background-color: #141414;
}

/*-------------------------- Product Details */
.shopping {
    font-size: 20px;
}

input[type=number]:not(.browser-default) {
    width: 35%;
    height: 3rem;
    border-bottom: none;
}

.i.fas.fa-plus {
    color: #141414;
}

.btn-flat:hover {
    background-color: #F7F8F2;
}

/*-------------------------- Shopping Bag */
.bag-container {
    width: 90%;
}
.item-image {
    height: 50% !important;
    overflow: hidden;
    margin-top: 1rem;
}

.row .quantity-col {
    padding: 0;
}

.quantity-row {
    margin-bottom: 0;
}
/*-------------------------- Footer */
.footer-dark {
    background-color: #141414;
}

.footer-brand a {
    color: #F7F8F2;
}

.footer-brand a:hover {
    color: #AED914;
}

footer ul li {
    display: inline;
    margin: 0 2px 0 2px;
}

.footer-links li a i {
    color: #fffff3;
}

.footer-links li a i:hover {
    color: #AED914;
}

/*-------------------------- Media Queries */
@media only screen and (max-width: 360px) {
    .add-to-bag {
        margin-top: 4px;
    }
}

@media only screen and (max-width: 375px) {
    #text {
        font-size: 24px;
    }

    .parallax-container 
    .parallax img {
        min-width: 110%;
    }

    .delete {
        margin-top: 2px;
    }

}

@media only screen and (max-width: 600px) {
    .text {
        font-size: 20px;
    }

    .footer-row {
        text-align: center;
    }

    .right-align {
        text-align: center;
    }

    h6.grey-text.text-darken-3.lighten-3.left-align.product-count {
        padding-top: 5px;
        align-content: center !important;
        text-align: center;
    }

    .filter-sidenav {
        background-color: #AED914;
    }

    .select-wrapper .caret {
        fill: #F7F8F2;
    }

    .select-wrapper input.select-dropdown {
        color: #F7F8F2;
    }

    select {
        background-color: #141414;
        color: #F7F8F2;
    }

    .dropdown-content li>span {
        background-color: rgba(20, 20, 20, 1.2);
        color: #F7F8F2;
    }

    .select-dropdown.dropdown-content li.selected {
        background-color: #3a3939;
    }

}

@media only screen and (min-width: 600px) {
    ul.collapsible.bag-collapsible {
        margin-top: 2.3733333333rem;
    }
}

@media only screen and (max-width: 768px) {
    input[type=number]:not(.browser-default) {
        width: 30%;
        height: 3rem;
        border-bottom: none;
    }

    .input-field.inline {
        margin-left: 0px;
    }
}

