<!--Products Dropdown-->
<ul id="dropdown1" class="dropdown-content nav-dark">
    <li><a href="{% url 'products' %}?category=workout_programs">All Programs</a></li>
</ul>
<!-- Nutrition Dropdown-->
<ul id="dropdown2" class="dropdown-content nav-dark">
    <li><a href="{% url 'products' %}?category=nutrition_plans">Nutrition Plans</a></li>
</ul>
<!-- Merchandise Dropdown-->
<ul id="dropdown3" class="dropdown-content nav-dark">
    <li><a href="{% url 'products' %}?category=merchandise">All Merch</a></li>
</ul>
<!--Community Dropdown-->
<ul id="dropdown4" class="dropdown-content nav-dark">
    <li><a href="{% url 'our_community' %}">Our Community</a></li>
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'my_community' %}">My Community</a></li>
    {% endif %}
</ul>
<!--My Account Dropdown-->
<ul id="dropdown5" class="dropdown-content nav-dark">
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <li><a href="{% url 'add_product' %}">Product Management</a></li>
        {% endif %}
        <li><a href="{% url 'profile' %}">My Profile</a></li>
        <li><a href="{% url 'account_logout' %}">Log Out</a></li>
    {% else %}
        <li><a href="{% url 'account_signup' %}">Register</a></li>
        <li><a href="{% url 'account_login' %}">Login</a></li>
    {% endif %}
</ul>
