{% extends "base.html" %}
{% load static %}

{% block content %}
    <section>
        <!--Category dependent parallax & header-->
        <div class="parallax-container">
            {% for c in current_categories %}
                <div class="parallax"><img src="{{ c.image.url }}" class="responsive-img"></div>
                <div id="overlay">
                    <div class="text" class="flow-text center-align">Everything you need in one app
                        <br>
                        <a href="#" class="btn shop-now"><b>Shop {{c.friendly_name }} Now</b></a>
                    </div>
                </div>
            {% endfor %}
            {% if search_term %}
                {% include 'products/includes/search-query-parallax.html' %}
            {% endif %}
        </div>
        <div class="row header-row">
            <div class="col">
                {% for c in current_categories %}
                    <h2 class="header category-header"><b>Shop</b><br><em>{{ c.friendly_name }}</em></h2>
                {% endfor %}
                {% if search_term %}
                    <h2 class="header category-header"><b>Shop</b><br><em>{{ search_term }}</em></h2>
                {% endif %}
            </div>
        </div>
        <hr>
        <!--Sort selector-->
        <div class="row">
            <div class="col s12 m6 push-m6 l6 push-l6 xl6 push-xl6">
                <div class="input-field col s12 hide-on-small-only">
                    <select id="sort-selector" class="browser-default custom-select {% if current_sorting != 'None_None' %}grey-text text-darken-1{% else %}black-text{% endif %}">
                        <option value="reset"  {% if current_sorting == 'None_None' %}selected{% endif %}disabled selected>Filter by..</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                    </select>
                </div>
                <!--Mobile sort selector-->
                {% include 'products/includes/filter-sidenav.html' %}
            </div>
            <div class="col s12 m6 pull-m6 l6 pull-l6 xl6 pull-xl6">
                <h6 class="grey-text text-darken-3 lighten-3 left-align product-count">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'home' %}">Home</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </h6>
            </div>
        </div>
        <div class="row">
            <!--Product cards-->
            {% for product in products %}
                <div class="col s12 m6 lg3 xl4">
                    <div class="card large products hoverable">
                        {% if product.image %}
                            <div class="card-image">
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="responsive-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            </div>
                        {% else %}
                            <div class="card-image">
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="responsive-img" src="{{ MEDIA_URL }}noimg.png" alt="{{ product.name }}">
                                </a>
                            </div>
                        {% endif %}
                        <div class="card-content">
                            <p class="card-title"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></p>
                            <p>€{{ product.price }}</p>
                            {% if product.category %}
                                <p class="category-tag">
                                    <a href="{% url 'products' %}?category={{ product.category.name }}">
                                        <i class="fas fa-tag"></i> {{ product.category.friendly_name }}
                                    </a>
                                </p>
                            {% endif %}
                            {% if product.rating %}
                                <p class="grey-text text-darken-3 lighten-3"><i class="fas fa-star"></i>{{ product.rating }} / 5</p>
                            {% else %}
                                <p class="grey-text text-darken-3 lighten-3"><i class="fas fa-star"></i>No Rating</p>
                            {% endif %}
                        </div>
                        <div class="card-action">
                            {% if request.user.is_superuser %}
                                <a class="btn edit" href="{% url 'edit_product' product.id %}">Edit</a>
                                <!-- Modal Trigger -->
                                <a class="delete btn modal-trigger" data-target="#modal-delete{{product.id}}"
                                    href="#modal-delete{{product.id}}">Delete
                                </a>
                                {% include 'products/includes/modal-delete.html'%}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <!--Floating action button-->
    <div class="fixed-action-btn">
        <a class="btn-floating white">
            <i class="fas fa-arrow-circle-up fa-2x shop-now"></i>
        </a>
        <a href="#" data-target="slide-out" class="btn-floating hide-on-med-and-up sidenav-trigger">
            <i class="fas fa-filter fa-2x filter-sidenav"></i>
        </a>            
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <!--Scroll to the top-->
    <script type="text/javascript">
		$('.scroll-up').on('click', function() {
            $('html, body').animate({scrollTop:0}, '300');
        });
	</script>
    <!--Disable hoverEnabled option on floating action button for mobile & tablet viewports-->
    <script type="text/javascript">
     if (window.matchMedia("(max-width: 600px)").matches) {
         $('.fixed-action-btn').floatingActionButton({
             hoverEnabled: false
         });
     }
    </script>
    <!--Sort selectbox selection-->
    <script type="text/javascript">
        $('#sort-selector').change(function(){
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
{% endblock %}