{% extends "base.html" %}
{% load static %}

{% block content %}
    <section>
        <div class="parallax-container">
            <div class="parallax"><img src="#" class="responsive-img"></div>
            <div id="overlay">
                <div class="text" class="flow-text center-align">Everything you need in one app
                    <br>
                    <a href="#" class="btn-small shop-now"><b>Shop Nutrition Now</b></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="header"><b>Shop</b><br><em>Merchandise</em></h2>
                <hr>
                {% for product in products %}
                    <div class="col s12 m6 lg3 xl4">
                        <div class="card large products hoverable">
                            {% if product.image %}
                                <div class="card-image">
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="responsive-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                </div>
                            {% else %}
                                <div class="card-image">
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="responsive-img" src="{{ MEDIA_URL }}noimg.png" alt="{{ product.name }}">
                                    </a>
                                </div>
                            {% endif %}
                            <div class="card-content">
                                <p class="card-title"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></p>
                                <p>€{{ product.price }}</p>
                                {% if product.category %}
                                    <p class="category-tag">
                                        <a href="#"><i class="fas fa-tag"></i> {{ product.category.friendly_name }}</a>
                                    </p>
                                {% endif %}
                                {% if product.rating %}
                                    <p class="grey-text text-darken-3 lighten-3"><i class="fas fa-star"></i>{{ product.rating }} / 5</p>
                                {% else %}
                                    <p class="grey-text text-darken-3 lighten-3"><i class="fas fa-star"></i>No Rating</p>
                                {% endif %}
                            </div>
                            <div class="card-action">
                                <a class="btn add-to-bag" href="#"><i class="fas fa-shopping-bag prefix"></i> Add to Bag</a>
                                {% if request.user.is_superuser %}
                                    <a class="btn edit" href="#"><i class="far fa-edit prefix"></i> Edit</a>
                                    <a class="btn delete" href="#"><i class="far fa-trash-alt prefix"></i> Delete</a>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}