{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6 xl6 product-image">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="responsive-img">
                {% else %}
                    <img src="{{ MEDIS_URL }}noimg.png" alt="{{ product.name }}" class="responsive-img">
                {% endif %}
            </div>
            <div class="col s12 m6 l6 xl6">
                <h2>{{ product.name }}</h2>
                <hr>
                <p>€{{ product.price }}</p>
                {% if product.category %}
                    <p class="category-tag">
                        <a href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag"></i> {{ product.category.friendly_name }}
                        </a>
                    </p>
                {% endif %}
                {% if product.rating %}
                    <p class="grey-text text-darken-3 lighten-3"><i class="fas fa-star"></i>{{ product.rating }} / 5</p>
                {% else %}
                    <p class="grey-text text-darken-3 lighten-3"><i class="fas fa-star"></i>No Rating</p>
                {% endif %}
                <p class="hide-on-small-only">{{ product.description }}</p>
                <!--CRUD OPS only available to superusers-->
                {% if request.user.is_superuser %}
                    <a class="btn edit" href="#"><b>Edit Product</b></a>
                    <a class="btn delete" href="#"><b>Delete Product</b></a>
                {% endif %}
                <ul class="collapsible hide-on-med-and-up">
                    {% if request.user.is_superuser %}
                        <li>
                            <div class="collapsible-header">Product Management</div>
                            <div class="collapsible-body center-align">
                                <a class="btn edit" href="#"><b>Edit Product</b></a>
                                <a class="btn delete" href="#"><b>Delete Product</b></a>
                            </div>
                        </li>
                    {% endif %}
                    <li>
                        <div class="collapsible-header">Product Description</div>
                        <div class="collapsible-body">{{ product.description }}</div>
                    </li>
                </ul>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="input-field input-field-{{ product.id }} inline">
                                <button class="decrement-qty btn-flat btn-small body-colour 
                                    decrement-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input class="qty_input id_qty_{{ product.id }} center-align" type="number"
                                    name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ product.id }}">
                                <button class="increment-qty btn-flat btn-small body-colour
                                    increment-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col s12">
                            <a href="{% url 'products' %}" class="btn keep-shopping">
                                <span class="valign-wrapper"><i class="fas fa-chevron-left"></i> Keep Shopping</span>
                                
                            </a>
                            <input type="submit" onclick="launch_toast()" class="add-to-bag btn valign-wrapper" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}