{% extends "base.html" %}
{% load static %}


{% block content %}
    {% if not product.category.name == 'merchandise' %}
        <div class="parallax-container">
            <div class="parallax"><img src="{{ product.image.url }}" alt="{{ product.name }}" class="responsive-img"></div>
            <div id="overlay">
                <div class="text" class="flow-text center-align">{{ product.name }}
                    <br>
                    <a href="#join" class="btn-small center-align learn-more"><b>Join Today</b></a>
                </div>
            </div>
        </div>
        <section class="programs">
            <div class="container p-container">
                <div class="row">
                    <div class="col s12 m6 l6 xl6 center-align">
                        <h3 class="center-align">What to expect from <em>{{ product.name }}</em></h3>
                        <div class="divider center-align"></div>
                        <div class="card program-cards">
                            <div class="card-content program-card-content center-align black-text">
                                <ul>
                                    <h6><b>{% if product.category.name == 'workout_programs' %}Program Duration:{% else %}Plan Duration{% endif %}</b></h6>
                                    <li>{{ product.length_of_time }}</li>
                                </ul>
                                {% if product.category.name == 'workout_programs' %}
                                    <div>
                                        <ul>
                                            <h6><b>Training Styles:</b></h6>
                                            <li>{{ product.training_styles }}</li>
                                        </ul>

                                    </div>
                                    <div>
                                        <ul>
                                            <h6><b>Workout Durations:</b></h6>
                                            <li>{{ product.workout_duration }}</li>
                                        </ul>

                                    </div>
                                    <div>
                                        <ul>
                                            <h6><b>Program Goals:</b></h6>
                                            <li>{{ product.program_goals }}</li>
                                        </ul>
                                    </div>
                                {% else %}
                                    <div>
                                        <ul>
                                            <h6><b>Plan Features:</b></h6>
                                            <li>{{ product.nutrition_plan_features|linebreaksbr }}</li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6 xl6 center-align">
                        {% if product.category.name == 'workout_programs' %}
                            <img src="{{ MEDIA_URL }}GRF-app2.png" class="app-img" alt="Site Image">
                        {% else %}
                            <img src="{{ MEDIA_URL }}GRF-app.png" class="app-img" alt="Site Image">
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section class="payments">
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align">
                        <h2>What <em>{{ product.name }}</em> is all about!</h2>
                        <p class="product-intro">{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </section>
        <article class="reviews">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 center-align">
                        <h3>Still not convinced?</h3>
                        <h4>See what our Gym Rats have to say!</h4>
                    </div>
                    <div class="col s12 m6 offset-m3">
                        <div class="carousel carousel-slider center">
                            {% for review in reviews %}
                                <div class="carousel-item center">
                                    <div class="card horizontal hoverble">
                                        <div class="card-stacked">
                                            <div class="card-content">
                                                <span class="card-title">{{ review.review_title }}</span>
                                                <p>{{ review.review_content }}</p>
                                                {% if review.rating %}
                                                    <p class="green-txt">
                                                        <i class="fas fa-star"></i> {{ review.rating }} / 5
                                                    </p>
                                                {% endif %}
                                            </div>
                                            <div class="card-action">
                                                <p>Reviewed By: {{ review.reviewer_name }} on the {{ review.review_date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col s12 m12 center-align">
                        <h5>Are you currently completing {{ product.name }} or have already finished?</h5>
                        <h6>Leave a review of {{ product.name }} today</h6>
                        <a href="{% url 'add_review' product.id %}" class="btn learn-more">Add Review</a>
                    </div>
                </div>
            </div>
        </article>
        <section id="join">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h2 class="center-align">Join the <em>Gym Rat community</em> today and change your life!</h2>
                        <div class="divider"></div>
                        {% if product.category %}
                            <p class="category-tag">
                                <a href="{% url 'products' %}?category={{ product.category.name }}">
                                    <i class="fas fa-tag"></i> {{ product.category.friendly_name }}
                                </a>
                            </p>
                        {% endif %}
                        {% if review.rating %}
                            <p class="grey-text text-darken-3 lighten-3"><i class="fas fa-star"></i> {{ product.rating }} / 5</p>
                        {% else %}
                            <p class="grey-text text-darken-3 lighten-3"><i class="fas fa-star"></i>No Rating</p>
                        {% endif %}
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col s12 m6">
                                    <h4>Select your access</h4>
                                    <hr>
                                    {% if product.sub_price %}
                                        <p class="inline">
                                            <label for="selected_price">
                                            <input type="radio" name="selected_price" id="selected_price" data-item_id="{{ product.id }}"
                                                value="{{ product.sub_price }}" class="filled-in selected_check id_select_{{ product.id }}" />
                                            <span><b>Subscription: €{{ product.sub_price }}</b> for 6 months access</span>
                                            </label>
                                        </p>
                                        <p>
                                            <label for="selected_price">
                                                <input type="radio" name="selected_price" id="selected_price" data-item_id="{{ product.id }}"
                                                    value="{{ product.price }}" class="filled-in selected_check id_select_{{ product.id }}" />
                                                <span><b>Standard: €{{ product.price }}</b> for {{ product.length_of_time }} access</span>
                                            </label>
                                        </p>
                                    {% endif %}
                                </div>
                                <div class="col s12 m6">
                                    <h4>Select Quantity:</h4>
                                    <hr>
                                    <div class="input-field input-field-{{ product.id }} inline">
                                        <button class="decrement-qty btn-flat btn-small body-colour 
                                            decrement-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input class="qty_input id_qty_{{ product.id }} center-align" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}">
                                        <button class="increment-qty btn-flat btn-small body-colour
                                            increment-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col s12 center-align">
                                    <div class="buttons">
                                        <a href="{{ request.META.HTTP_REFERER }}" class="btn keep-shopping">
                                            <span class="valign-wrapper"><i class="fas fa-chevron-left"></i> Keep Shopping</span>
                                            
                                        </a>
                                        <input type="submit" class="add-to-bag btn valign-wrapper" value="Add to Bag">
                                    </div>
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                    <div class="col s12">
                        {% if request.user.is_superuser %}
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header"><b>Product Management</b></div>
                                <div class="collapsible-body center-align">
                                    <a class="btn edit" href="{% url 'edit_product' product.id %}"><b>Edit Product</b></a>
                                    <a class="delete btn modal-trigger" data-target="#modal-delete{{product.id}}"
                                            href="#modal-delete{{product.id}}">Delete
                                    </a>
                                    {% include 'products/includes/modal-delete.html'%}
                                </div>
                            </li>
                        </ul>
                    {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <div class="container">
            <div class="row">
                <!--Product image-->
                <div class="col s12 m6 l6 xl6 product-image">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="responsive-img">
                    {% else %}
                        <img src="{{ MEDIA_URL }}noimg.png" alt="{{ product.name }}" class="responsive-img">
                    {% endif %}
                </div>
                <!--Product breakdown/details-->
                <div class="col s12 m6 l6 xl6">
                    <h2>{{ product.name }}</h2>
                    <hr>
                    {% if product.price and not product.sub_price %}
                        <p>€{{ product.price }}</p>
                    {% endif %}
                    {% if product.category %}
                        <p class="category-tag">
                            <a href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag"></i> {{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <p class="grey-text text-darken-3 lighten-3"><i class="fas fa-star"></i>{{ product.rating }} / 5</p>
                    {% else %}
                        <p class="grey-text text-darken-3 lighten-3"><i class="fas fa-star"></i>No Rating</p>
                    {% endif %}
                    <p class="hide-on-small-only">{{ product.description }}</p>
                    <!--CRUD OPS only available to superusers-->
                    {% if request.user.is_superuser %}
                    <ul class="collapsible hide-on-small-only">
                        <li>
                            <div class="collapsible-header">Product Management</div>
                            <div class="collapsible-body center-align">
                                <a class="btn edit" href="{% url 'edit_product' product.id %}"><b>Edit Product</b></a>
                                <a class="delete btn modal-trigger" data-target="#modal-delete{{product.id}}"
                                        href="#modal-delete{{product.id}}">Delete
                                </a>
                                {% include 'products/includes/modal-delete.html'%}
                            </div>
                        </li>
                    </ul>
                    {% endif %}
                    <!--Mobile collapsible for Admin CRUD OPs and Product description-->
                    <ul class="collapsible hide-on-med-and-up">
                        {% if request.user.is_superuser %}
                            <li>
                                <div class="collapsible-header">Product Management</div>
                                <div class="collapsible-body center-align">
                                    <a class="btn edit" href="{% url 'edit_product' product.id %}"><b>Edit Product</b></a>
                                    <a class="delete btn modal-trigger" data-target="#modal-delete{{product.id}}"
                                        href="#modal-delete{{product.id}}">Delete
                                    </a>
                                    {% include 'products/includes/modal-delete.html'%}
                                </div>
                            </li>
                        {% endif %}
                        <li>
                            <div class="collapsible-header">Product Description</div>
                            <div class="collapsible-body">{{ product.description }}</div>
                        </li>
                    </ul>
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <h5>Select your access</h5>
                        <hr>
                        {% if product.sub_price %}
                            <p class="inline">
                                <label for="selected_price">
                                <input type="radio" name="selected_price" id="selected_price" data-item_id="{{ product.id }}"
                                    value="{{ product.sub_price }}" class="filled-in selected_check id_select_{{ product.id }}" />
                                <span><b>Subscription: €{{ product.sub_price }}</b> for 6 months access</span>
                                </label>
                            </p>
                            <p>
                                <label for="selected_price">
                                    <input type="radio" name="selected_price" id="selected_price" data-item_id="{{ product.id }}"
                                        value="{{ product.price }}" class="filled-in selected_check id_select_{{ product.id }}" />
                                    <span><b>Standard: €{{ product.price }}</b> for {{ product.length_of_time }} access</span>
                                </label>
                            </p>
                        {% endif %}
                        <div class="row">
                            <div class="col">
                                <div class="input-field input-field-{{ product.id }} inline">
                                    <button class="decrement-qty btn-flat btn-small body-colour 
                                        decrement-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input class="qty_input id_qty_{{ product.id }} center-align" type="number"
                                        name="quantity" value="1" min="1" max="99"
                                        data-item_id="{{ product.id }}">
                                    <button class="increment-qty btn-flat btn-small body-colour
                                        increment-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col s12">
                                <a href="{{ request.META.HTTP_REFERER }}" class="btn keep-shopping">
                                    <span class="valign-wrapper"><i class="fas fa-chevron-left"></i> Keep Shopping</span>
                                    
                                </a>
                                <input type="submit" class="add-to-bag btn valign-wrapper" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    $('input[name=selected_price]').on('click', function(e){
        $('input[name=selected_price]:checked').val();
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.modal').modal();
        $('.carousel.carousel-slider').carousel({
            fullWidth: false,
            indicators: true
        });
    });
</script>
{% endblock %}